
.gallery_image img {
    width: 120px;
    border: solid 1px #999;
    padding: 6px;
    margin: 0 10px 0 0;
    background-color: #eee;
    display: block;
}

.imagePreview {
    width: 300px;
    padding: 10px;
    border: solid 1px #ccc;
    position: absolute;
    background-color: white;
}

.imagePreview img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}