.main_menu {
    background: transparent url('images/puste_bg.jpg') repeat-x;
    height: 72px;
    list-style: none;
    padding: 0px;
    margin: 10px 0 20px;
}

.main_menu > li {
    float: left;
    padding: 30px 10px 0 5px;
    height: 42px;
    list-style: none;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.main_menu > li.sub {
    position: relative;
}

.main_menu > li a {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

.main_menu > li:first-child {
    background-image: url('images/puste_left.jpg');
    background-repeat: no-repeat;
    padding: 30px 10px 0 10px;
}

.main_menu > li:last-child {
    background-image: url('images/puste_right.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
    padding: 30px 10px 0 5px;
}

.sub_menu {
    background: #000;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 5px 0 0 0;
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 200px;
}

.sub:hover .sub_menu {
    display: block;
}

.sub_menu > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub_menu > li a {
    display: block;
    height: 20px;
    padding: 0 10px;
}

.sub_menu > li:hover {
    background: #999;
}
