.raptor-footer {
    min-width: 1100px;
    width: auto;
}

.raptor-footer-main {
    width: 960px;
    margin: 0 auto;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

.raptor-footer-main {
    min-height: 218px;
}

.raptor-footer {
    background: url(../images/bg-grads-1.jpg) 0 -265px repeat-x;
}

.raptor-footer .jspVerticalBar {
    opacity: .5;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.raptor-footer #raptor-tweets {
    width: 100%;
    height: auto;
    max-height: 145px;
}

.raptor-footer #raptor-tweets ul {
    padding-left: 0;
}

.raptor-footer #raptor-tweets li {
    list-style: outside none;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 14px;
    border-bottom: 1px solid #596167;
    border-top: 1px solid #282f35;
}

.raptor-footer #raptor-tweets li: first-child {
    margin-top: 0;
    border-top: 0 none;
}

.raptor-footer #raptor-tweets li: last-child {
    margin-bottom: 3px;
    border-bottom: 0 none;
}

.raptor-footer #raptor-tweets:hover .jspVerticalBar {
    opacity: 1;
}

.raptor-footer h4,.raptor-footer p,.raptor-footer .raptor-navigation a,.raptor-footer .raptor-download span,.raptor-footer #raptor-tweets {
    color: #979fa5;
    text-shadow: #000 0 -1px 0;
}

.raptor-footer h4 {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
}

.raptor-footer p {
    font-size: 15px;
}

.raptor-footer p a {
    color: #bac8d9;
}

.raptor-footer p a:hover {
    color: #fff;
}

.raptor-footer .raptor-navigation {
    padding: 12px 0 12px;
    margin-left: 35px;
    text-align: center;
    width: 395px;
}

.raptor-footer .raptor-navigation li {
    display: inline-block;
    float: none;
}

.raptor-footer .raptor-navigation a {
    font-size: 14px;
    padding: 5px 11px 4px;
}

.raptor-footer .raptor-navigation a:hover {
    color: #fff;
}

.raptor-footer .raptor-navigation .raptor-selected {
    color: #ff7905;
    background: 0;
}

.raptor-footer .raptor-navigation .raptor-selected:hover {
    color: #ff4259;
}

.raptor-footer .grid3,.raptor-footer .grid6 {
    padding-bottom: 0;
}

.raptor-wrapper {
    min-height: 100%;
}

.raptor-sticky {
    overflow: auto;
    padding-bottom: 265px;
}

.raptor-footer {
    position: relative;
    margin-top: -265px;
    height: 265px;
    clear: both;
}

.raptor-btn {
    text-transform: uppercase;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 39px 9px 15px;
    background: url(../images/icons-1.png) right 5px no-repeat #ff9d29;
    background-image: url(../images/icons-1.png),url(../images/bg-grads-1.jpg);
    background-position: right 6px,0 -57px;
    background-repeat: no-repeat,repeat-x;
    border: 1px solid #e59627;
    border-color: #ffbd5c #e59627 #e86d08;
    border-color: #ffbd5c rgba(0,0,0,0.1) #e86d08;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -webkit-transition: background-position .3s ease-out;
    -moz-transition: background-position .3s ease-out;
    -o-transition: background-position .3s ease-out;
    -ms-transition: background-position .3s ease-out;
    transition: background-position .3s ease-out;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-shadow: #b67730 0 1px 0;
    font-weight: bold;
}

.raptor-btn .ui-button-text {
    background: none transparent!important;
    border: 0 none!important;
    font-size: 16px;
    padding: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
    text-shadow: #b67730 0 1px 0;
}

.raptor-btn:hover {
    -moz-box-shadow: 0 1px 0 #ff9524 inset;
    -webkit-box-shadow: 0 1px 0 #ff9524 inset;
    box-shadow: 0 1px 0 #ff9524 inset;
    background-position: right 6px,0 -125px;
    color: #fff;
}

.raptor-btn:hover .ui-button-text {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.raptor-white-frame {
    border: 1px solid #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fafafa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fafafa));
    background-image: -webkit-linear-gradient(top,#fff,#fafafa);
    -moz-box-shadow: 0 1px 1px #cdcdcd;
    -webkit-box-shadow: 0 1px 1px #cdcdcd;
    box-shadow: 0 1px 1px #cdcdcd;
}

.raptor-padded {
    padding: 8px 15px 15px;
}

.raptor-header {
    height: 55px;
    background: url(../images/bg-grads-1.jpg) 0 0 repeat-x;
    border-bottom: 1px solid #fff;
    position: relative;
    width: auto;
}

.raptor-header .raptor-navigation {
    float: right;
    margin-right: 40px;
    z-index: 860;
    position: relative;
}

.raptor-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #657181;
    text-shadow: #fff 0 1px 0;
    padding: 6px 0 5px;
    margin-top: 7px;
    background: #fefefe;
    width: 230px;
    float: left;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #cacfd4;
    font-size: 24px;
    display: inline-block;
}

.raptor-title:hover {
    color: #ff8720;
}

.raptor-navigation {
    display: inline-block;
    padding-top: 8px;
    list-style: none;
    margin-bottom: 0;
}

.raptor-navigation li {
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.raptor-navigation ul {
    display: none;
}

.raptor-navigation a {
    font-weight: 400;
    text-shadow: #fff 0 1px 0;
    color: #536072;
    font-size: 15px;
    padding: 12px 12px 8px;
    display: inline-block;
    text-decoration: none;
}

.raptor-navigation a:hover {
    color: #282e37;
}

.raptor-navigation .raptor-selected {
    color: #ff7905;
    background: url(../images/icons-1.png) center -40px no-repeat transparent;
}

.raptor-navigation .raptor-selected:hover {
    color: #ff4259;
}

.raptor-wrapper {
    min-width: 1100px;
    width: auto;
}

.raptor-content,.raptor-header div {
    width: 960px;
    margin: 0 auto;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

.raptor-content {
    padding: 50px 0 60px;
}

.raptor-clear {
    clear: both;
}

.raptor-fork {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/fork-bg.png) 135px -90px no-repeat transparent;
    -webkit-transition: background-position .3s ease-out;
    -moz-transition: background-position .3s ease-out;
    -o-transition: background-position .3s ease-out;
    -ms-transition: background-position .3s ease-out;
    transition: background-position .3s ease-out;
}

.raptor-fork:hover {
    background-position: 23px 23px;
    -webkit-transition: background-position .3s ease-in;
    -moz-transition: background-position .3s ease-in;
    -o-transition: background-position .3s ease-in;
    -ms-transition: background-position .3s ease-in;
    transition: background-position .3s ease-in;
}

.raptor-home {
    background: url(../images/raptor-bg.png) -3px 0 no-repeat;
    height: 295px;
    margin-top: -50px;
    padding-top: 95px;
}

.raptor-strapline h1,.raptor-strapline span {
    border: 1px solid #fff;
    margin-top: -1px;
    margin-bottom: 0;
    display: inline-block;
    -moz-box-shadow: 0 1px 0 #c1c7cb;
    -webkit-box-shadow: 0 1px 0 #c1c7cb;
    box-shadow: 0 1px 0 #c1c7cb;
    line-height: 1;
    position: relative;
    background-color: #fff;
}

.raptor-strapline h1 {
    font-weight: bold;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fefefe);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fefefe));
    background-image: -webkit-linear-gradient(top,#fff,#fefefe);
    font-size: 50px;
    padding: 5px 9px 4px;
    color: #ff9e2c;
    z-index: 5;
}

.raptor-strapline span {
    line-height: 1;
    float: left;
    clear: both;
    padding: 6px 9px 4px;
    border-top: 0;
    z-index: 100;
    background-color: #fefefe;
    background-image: -moz-linear-gradient(top,#fefefe,#fbfbfb);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#fbfbfb));
    background-image: -webkit-linear-gradient(top,#fefefe,#fbfbfb);
    background-color: #fff;
}

.raptor-strapline span: last-child {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top,#fbfbfb,#f9f9f9);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbfbfb),color-stop(100%,#f9f9f9));
    background-image: -webkit-linear-gradient(top,#fbfbfb,#f9f9f9);
    background-color: #fff;
}

.raptor-strapline h2 {
    font-weight: 200;
    margin-bottom: 20px;
    position: relative;
    font-size: 30px;
    z-index: 100;
}

.raptor-strapline h3 {
    text-transform: uppercase;
}

.raptor-home .raptor-edit-site-form .form-field .form-textfield,.raptor-live-form-full .raptor-edit-site-form .form-field .form-textfield {
    -moz-border-radius-topright: 0!important;
    -webkit-border-top-right-radius: 0!important;
    border-top-right-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    width: 270px;
    margin-right: 0;
    height: 38px;
    padding: 0 11px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.raptor-home .ui-button,.raptor-live-form-full .ui-button {
    -moz-border-radius-topleft: 0!important;
    -webkit-border-top-left-radius: 0!important;
    border-top-left-radius: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.raptor-geshi {
    margin: 10px 0;
    font-size: 14px;
}

.raptor-geshi ol {
    padding-left: 45px;
    background: #fbfbfb;
    background-color: #fcfcfc;
    background-image: -moz-linear-gradient(top,#fcfcfc,#f3f3f3);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#f3f3f3));
    background-image: -webkit-linear-gradient(top,#fcfcfc,#f3f3f3);
    border: 1px solid #d4d4d4;
    border-color: #e5e5e5 #d4d4d4 #bababa!important;
    text-shadow: #fff 0 1px 0!important;
    border: 1px solid #d4d4d4;
    overflow-x: auto;
}

.raptor-geshi ol li {
    color: #888!important;
    background: #fff;
    text-shadow: #fff 0 1px 0;
    padding-left: 10px;
    border-left: 1px solid #d4d4d4;
}

.raptor-geshi ol li div {
    color: #000!important;
}

.raptor-geshi ol li: first-child {
    padding-top: 10px;
}

.raptor-geshi ol li: last-child {
    padding-bottom: 10px;
}

.raptor-bottom {
    background: url(../images/bg-grads-1.jpg) 0 -517px repeat-x;
    height: 34px;
    padding-top: 10px;
}

.raptor-bottom div {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 auto;
}

.raptor-bottom p {
    color: #989ea6;
    text-shadow: #000 0 1px 0;
    font-size: 14px;
    margin-bottom: 0;
}

.raptor-bottom a {
    color: #bac8d9;
}

.raptor-bottom a:hover {
    color: #fff;
}

.raptor-html5-badge {
    overflow: visible;
}

.raptor-html5-badge h4 {
    padding: 0 25px;
    text-align: center;
}

.raptor-html5-badge img {
    margin: -51px 67px -31px;
}

.raptor-html5-badge .raptor-fancy-hr {
    margin: 0 0 20px;
}

.raptor-download {
    text-align: center;
    padding-top: 25px;
    background: url(../images/fancy-hrs.png) center -51px no-repeat;
}

.raptor-download span {
    text-align: center;
    font-size: 36px;
    display: block;
    margin-bottom: 15px;
}

.raptor-download .raptor-btn {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -moz-box-shadow: 0 2px 8px #252e35;
    -webkit-box-shadow: 0 2px 8px #252e35;
    box-shadow: 0 2px 8px #252e35;
}

.raptor-download .raptor-btn:hover {
    -moz-box-shadow: 0 4px 16px #15191d;
    -webkit-box-shadow: 0 4px 16px #15191d;
    box-shadow: 0 4px 16px #15191d;
}

.raptor-usage .raptor-editable {
    border: 1px solid #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fafafa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fafafa));
    background-image: -webkit-linear-gradient(top,#fff,#fafafa);
    -moz-box-shadow: 0 1px 1px #cdcdcd;
    -webkit-box-shadow: 0 1px 1px #cdcdcd;
    box-shadow: 0 1px 1px #cdcdcd;
    padding: 11px 15px;
    margin-bottom: 15px;
}

.raptor-fancy-hr {
    background: url(../images/fancy-hrs.png) center 0 no-repeat transparent;
    overflow: hidden;
    height: 0;
    display: block;
    padding-top: 15px;
    width: auto;
    margin-bottom: 0;
    margin-left: -14px;
}

.raptor-features {
    overflow: visible;
    float: left;
    padding-bottom: 20px;
}

.raptor-features a {
    float: left;
    padding-bottom: 15px;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
    display: inline;
    width: 221.25px;
    border: 1px solid #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fafafa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fafafa));
    background-image: -webkit-linear-gradient(top,#fff,#fafafa);
    -moz-box-shadow: 0 1px 1px #cdcdcd;
    -webkit-box-shadow: 0 1px 1px #cdcdcd;
    box-shadow: 0 1px 1px #cdcdcd;
    -webkit-transition: box-shadow .3s ease-out;
    -moz-transition: box-shadow .3s ease-out;
    -o-transition: box-shadow .3s ease-out;
    -ms-transition: box-shadow .3s ease-out;
    transition: box-shadow .3s ease-out;
    overflow: visible;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

.raptor-features a:hover {
    -moz-box-shadow: 0 3px 8px #ccc;
    -webkit-box-shadow: 0 3px 8px #ccc;
    box-shadow: 0 3px 8px #ccc;
}

.raptor-features a:hover h3 {
    color: #ff4964;
}

.raptor-features a h3,.raptor-features a p {
    padding: 0 10px;
    margin-bottom: 6px;
}

.raptor-features a h3 {
    color: #ff9e2c;
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -o-transition: color .15s linear;
    -ms-transition: color .15s linear;
    transition: color .15s linear;
}

.raptor-features a p {
    font-size: 14px;
    color: #111;
}

.raptor-icon {
    margin: -30px auto 8px;
    height: 115px;
    width: 90px;
    display: block;
    background: url(../images/raptor-icons.png) 15px 0 no-repeat transparent;
}

.raptor-flexible {
    background-position: -145px 0;
}

.raptor-modular {
    background-position: -305px 0;
}

.raptor-skinnable {
    background-position: -465px 0;
}

.raptor-edit-site-form {
    display: block;
    clear: both;
    float: none;
    padding-top: 12px;
}

.raptor-edit-site-form h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.raptor-edit-site-form .form-error {
    width: auto;
    position: absolute;
}

.raptor-edit-site-form div,.raptor-edit-site-form button {
    float: left!important;
}

.raptor-edit-site-form input {
    margin-right: 20px;
    border-right: none!important;
}

.raptor-edit-site-form .ui-button,.raptor-edit-site-form .ui-button.ui-state-default {
    text-transform: uppercase;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 39px 9px 15px;
    background: url(../images/icons-1.png) right 5px no-repeat #ff9d29;
    background-image: url(../images/icons-1.png),url(../images/bg-grads-1.jpg);
    background-position: right 6px,0 -57px;
    background-repeat: no-repeat,repeat-x;
    border: 1px solid #e59627;
    border-color: #ffbd5c #e59627 #e86d08;
    border-color: #ffbd5c rgba(0,0,0,0.1) #e86d08;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -webkit-transition: background-position .3s ease-out;
    -moz-transition: background-position .3s ease-out;
    -o-transition: background-position .3s ease-out;
    -ms-transition: background-position .3s ease-out;
    transition: background-position .3s ease-out;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-shadow: #b67730 0 1px 0;
    font-weight: bold;
    height: 38px;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

.raptor-edit-site-form .ui-button .ui-button-text,.raptor-edit-site-form .ui-button.ui-state-default .ui-button-text {
    background: none transparent!important;
    border: 0 none!important;
    font-size: 16px;
    padding: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
    text-shadow: #b67730 0 1px 0;
}

.raptor-edit-site-form .ui-button:hover,.raptor-edit-site-form .ui-button.ui-state-default:hover {
    -moz-box-shadow: 0 1px 0 #ff9524 inset;
    -webkit-box-shadow: 0 1px 0 #ff9524 inset;
    box-shadow: 0 1px 0 #ff9524 inset;
    background-position: right 6px,0 -125px;
    color: #fff;
}

.raptor-edit-site-form .ui-button:hover .ui-button-text,.raptor-edit-site-form .ui-button.ui-state-default:hover .ui-button-text {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

html body .raptor-wrapper .raptor-feature-btn {
    text-transform: uppercase;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 39px 9px 15px;
    background: url(../images/icons-1.png) right 5px no-repeat #ff9d29;
    background-image: url(../images/icons-1.png),url(../images/bg-grads-1.jpg);
    background-position: right 6px,0 -57px;
    background-repeat: no-repeat,repeat-x;
    border: 1px solid #e59627;
    border-color: #ffbd5c #e59627 #e86d08;
    border-color: #ffbd5c rgba(0,0,0,0.1) #e86d08;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -webkit-transition: background-position .3s ease-out;
    -moz-transition: background-position .3s ease-out;
    -o-transition: background-position .3s ease-out;
    -ms-transition: background-position .3s ease-out;
    transition: background-position .3s ease-out;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-shadow: #b67730 0 1px 0;
    font-weight: bold;
    height: 38px;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
}

html body .raptor-wrapper .raptor-feature-btn .ui-button-text {
    background: none transparent!important;
    border: 0 none!important;
    font-size: 16px;
    padding: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
    text-shadow: #b67730 0 1px 0;
}

html body .raptor-wrapper .raptor-feature-btn:hover {
    -moz-box-shadow: 0 1px 0 #ff9524 inset;
    -webkit-box-shadow: 0 1px 0 #ff9524 inset;
    box-shadow: 0 1px 0 #ff9524 inset;
    background-position: right 6px,0 -125px;
    color: #fff;
}

html body .raptor-wrapper .raptor-feature-btn:hover .ui-button-text {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.raptor-live-form-full {
    background: url("images/raptor-bg.png") no-repeat scroll -3px 0 transparent;
    height: 340px;
    margin: 0 auto 0;
    padding-left: 20px;
    padding-top: 80px;
    width: 100%;
}

.raptor-live-form-full h1 {
    background-color: #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fefefe);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fefefe));
    background-image: -webkit-linear-gradient(top,#fff,#fefefe);
    color: #ff9e2c;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding: 0 14px 0;
    z-index: 5;
    height: 53px;
}

.raptor-live-form-full .ui-button {
    -moz-border-radius-topleft: 0!important;
    -webkit-border-top-left-radius: 0!important;
    border-top-left-radius: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    padding: 8px 39px 9px 15px;
}

.form-field-error .form-text {
    border: 1px solid #f05e3c;
    border-color: #f05e3c #e7291d #e82b1f;
    color: #e82b1f;
    height: 38px;
}

.form-error {
    background-color: #f05e3c;
    background-image: -moz-linear-gradient(top,#f05e3c,#e82b1f);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f05e3c),color-stop(100%,#e82b1f));
    background-image: -webkit-linear-gradient(top,#f05e3c,#e82b1f);
    color: #fff;
    text-shadow: rgba(0,0,0,0.2) 0 -1px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.raptor-docs {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 13px;
}

.raptor-docs .fixedFont {
    color: #ff8620;
    font-size: 15px;
    font-family: "inconsolata","droid-sans-mono","Lucida Console",monospace;
}

.raptor-docs .raptor-input-filter {
    margin-left: 17px;
    font-size: 14px;
    height: auto;
    padding: 8px 9px 7px;
    margin-bottom: 12px;
    width: 85%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.raptor-docs-index,.raptor-sidebar {
    float: left;
    padding-bottom: 15px;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
    display: inline;
    width: 221.25px;
    border: 1px solid #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fafafa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fafafa));
    background-image: -webkit-linear-gradient(top,#fff,#fafafa);
    -moz-box-shadow: 0 1px 1px #cdcdcd;
    -webkit-box-shadow: 0 1px 1px #cdcdcd;
    box-shadow: 0 1px 1px #cdcdcd;
    margin-bottom: 15px;
    margin-left: 1px;
}

.raptor-docs-index ul,.raptor-sidebar ul,.raptor-docs-index h3,.raptor-sidebar h3 {
    padding: 0 20px;
}

.raptor-docs-index li,.raptor-sidebar li {
    padding: 0;
    margin-bottom: 5px;
}

.raptor-docs-index ul,.raptor-sidebar ul {
    list-style: none;
    margin-bottom: 0;
}

.raptor-docs-index ul a,.raptor-sidebar ul a {
    word-wrap: break-word;
    line-height: 1.2;
}

.raptor-docs-index ul li, .raptor-sidebar ul li {
    margin-bottom: 10px;
}

.raptor-docs-index .selected,.raptor-sidebar .selected {
    color: #536072;
}

.raptor-docs-index div,.raptor-sidebar div {
    text-shadow: #fff 0 1px 0;
    background: url(../images/bg-grads-1.jpg) 0 -12px repeat-x #ff9926;
    padding: 7px 9px 5px;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.8) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.8) inset;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
    border: 1px solid #d1d5db;
    border-bottom-color: #abb1b9;
}

.raptor-docs-index div a,.raptor-sidebar div a {
    color: #536072;
    text-decoration: none;
    padding: 5px 7px;
}

.raptor-docs-index div a:hover,.raptor-sidebar div a:hover {
    color: #282e37;
}

.raptor-docs-content,.raptor-side-content {
    float: left;
    padding-bottom: 15px;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
    display: inline;
    width: 615px;
    width: 645px;
    margin-left: 60px;
    line-height: 1.6;
}

.raptor-docs-content .classTitle {
    margin-bottom: -7px;
}

.raptor-docs-content h1 {
    text-transform: none;
}

.raptor-docs-content h2 {
    margin-bottom: 5px;
    text-transform: none;
}

.raptor-docs-content dt,.raptor-docs-content dd {
    text-transform: none;
    font-size: 13px;
    padding-left: 0;
    text-shadow: #fff 0 1px 0;
}

.raptor-docs-content dt b {
    color: #515e70;
}

.raptor-docs-content dd {
    padding-left: 15px;
    margin-bottom: 8px;
}

.raptor-docs-content .heading {
    font-weight: normal;
    color: #515e70;
    text-transform: uppercase;
    font-size: 13px;
}

.raptor-docs-content .detailList {
    margin-top: 14px;
}

.raptor-docs-content .sectionTitle {
    margin-top: 15px;
}

.raptor-docs-content hr {
    margin: 10.5px 0 7.5px;
}

.raptor-docs-content .summaryTable {
    width: 100%;
}

.raptor-docs-content .summaryTable thead {
    display: none;
}

.raptor-docs-content .summaryTable .attributes {
    width: 125px;
    text-align: center;
    color: #515e70;
}

.raptor-docs-content .summaryTable td {
    border-left: 1px solid #fce6c5;
    border-right: 1px solid #fbdcc1;
    border-bottom: 1px solid #ff861e;
}

.raptor-docs-content .summaryTable td: first-child {
    border-left-color: #ffab2c;
}

.raptor-docs-content .summaryTable td: last-child {
    border-right-color: #ffab2c;
}

.raptor-docs-content .summaryTable caption {
    -webkit-transition: background-position .3s linear;
    -moz-transition: background-position .3s linear;
    -o-transition: background-position .3s linear;
    -ms-transition: background-position .3s linear;
    transition: background-position .3s linear;
}

.raptor-docs-content .summaryTable:hover caption {
    background-position: 0 -117px;
}

.raptor-docs-content caption,.raptor-docs-content .sectionTitle {
    color: #fff;
    text-align: left;
    text-shadow: #ae5a0f 0 1px 1px;
    background: url(../images/bg-grads-1.jpg) 0 -68px repeat-x #ff9926;
    -moz-border-radius-topleft: 3px!important;
    -webkit-border-top-left-radius: 3px!important;
    border-top-left-radius: 3px!important;
    -moz-border-radius-topright: 3px!important;
    -webkit-border-top-right-radius: 3px!important;
    border-top-right-radius: 3px!important;
    padding: 4px 9px 3px;
    border-top: 1px solid #ffc84f;
    border-bottom: 1px solid #e76108;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
}

.raptor-docs-content .sectionTitle {
    margin-bottom: 15px;
}

.raptor-docs-content .description {
    padding-left: 15px;
}

.raptor-docs-fineprint {
    color: #666;
    text-shadow: #fff 0 1px 0;
    padding-bottom: 20px;
    opacity: .6;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.raptor-docs-fineprint:hover {
    opacity: 1;
}

.raptor-social {
    left: auto;
    right: auto;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 12px;
    height: 25px;
    padding-top: 11px;
    position: absolute;
    top: -50px;
    min-width: 1100px margin: 0 auto 0;
}

.raptor-social .raptor-social-inner {
    margin: 0 auto;
    position: relative;
    width: 930px;
}

.raptor-social .coi-social-button {
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
    padding: 0 12px;
    overflow: hidden;
    margin-right: 0;
    display: inline-block;
    vertical-align: text-top;
}

.raptor-social .coi-social-button: first-child {
    border-left: 0 none;
    padding-left: 0;
}

.raptor-social .coi-social-button: last-child {
    border-right: 0 none;
    padding-right: 0;
}

.raptor-social .coi-social-button-twitter {
    width: 84px;
}

.raptor-social .coi-social-button-linkedin {
    width: 105px;
    padding-right: 7px;
}

.raptor-social .coi-social-button-pinterest {
    overflow: hidden;
    width: 65px;
}

.raptor-social .coi-social-button-googleplus {
    width: 65px;
}

.raptor-social .coi-social-button-github {
    width: 100px;
}

.raptor-social .IN-right .IN-right {
    margin-right: 0;
}

.raptor-usage-nav {
    float: left;
    clear: both;
    width: 100%;
    padding-left: 0;
}

.raptor-usage-nav li {
    list-style: none;
    display: block;
    float: left;
    padding-left: 0;
    margin-right: 15px;
}

.raptor-usage-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #888;
}

.raptor-usage-nav li a:hover {
    color: #444;
}

.raptor-usage-nav li .raptor-selected {
    color: #ff9e2c;
}

.raptor-usage-nav li .raptor-selected:hover {
    color: #ff4259;
}

.raptor-feature-blocks {
    list-style: none outside;
    padding-left: 0;
}

.raptor-feature-blocks li {
    float: left;
    padding-bottom: 15px;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
    display: inline;
    width: 300px;
    float: left;
    margin-bottom: 15px;
    padding: 0;
    display: block;
    overflow: visible;
    list-style: none outside;
}

.raptor-feature-blocks li h2 {
    color: #ff9e2c;
    margin: 5px 15px 15px;
    padding-top: 6px;
    font-size: 14px;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -o-transition: color .15s linear;
    -ms-transition: color .15s linear;
    transition: color .15s linear;
}

.raptor-feature-blocks li h2 img {
    float: left;
    margin-right: 10px;
}

.raptor-feature-blocks li a {
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fafafa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fafafa));
    background-image: -webkit-linear-gradient(top,#fff,#fafafa);
    -moz-box-shadow: 0 1px 1px #cdcdcd;
    -webkit-box-shadow: 0 1px 1px #cdcdcd;
    box-shadow: 0 1px 1px #cdcdcd;
    -webkit-transition: box-shadow .3s ease-out;
    -moz-transition: box-shadow .3s ease-out;
    -o-transition: box-shadow .3s ease-out;
    -ms-transition: box-shadow .3s ease-out;
    transition: box-shadow .3s ease-out;
    float: left;
    display: block;
    padding: 0;
    cursor: pointer;
    height: 160px;
}

.raptor-feature-blocks li a:hover {
    -moz-box-shadow: 0 3px 8px #ccc;
    -webkit-box-shadow: 0 3px 8px #ccc;
    box-shadow: 0 3px 8px #ccc;
}

.raptor-feature-blocks li a:hover h2 {
    color: #ff4964;
}

.raptor-feature-blocks li p {
    margin: 0 15px 15px;
    color: #111;
}

.typekit-badge {
    display: none!important;
}

.raptor-input-filter {
    margin-left: 5px;
    width: 85%;
}

.ui-icon {
    height: 16px;
    width: 16px;
}

pre {
    overflow-x: auto;
}

.raptor-usage .ui-editor-dock-docked-element {
    padding: 10px;
}
